/* :root {
  --accent: #1e90ff;
} */

.i {
  display: flex;
  height: 100vh;
}

.iLeft {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.iRight {
  flex: 1;
  position: relative;
}

.iLeftWrapper {
  padding: 0 0 0 11vw;
  height: 100%;
  display: flex;

  flex-direction: column;
  justify-content: center;
}

.iIntro {
  font-size: 30px;
  font-weight: 300;
}

.iName {
  font-size: 60px;
}

.iTitle {
  height: 2rem;
  margin-bottom: 20px;
  overflow: hidden;
}

.iTitleWrapper {
  height: 100%;
  animation: move 10s ease-in-out infinite alternate;
}

@keyframes move {
  25% {
    transform: translateY(-50px);
  }
  50% {
    transform: translateY(-100px);
  }
  75% {
    transform: translateY(-150px);
  }
  100% {
    transform: translateY(-200px);
  }
}

.iTitleItem {
  height: 50px;
  font-size: 30px;
  font-weight: bold;
  display: flex;
  align-items: center;
}

.iScroll {
  width: 30px;
  height: 30px;
  position: absolute;
  bottom: 20px;
}

.imgWrapper {
  overflow: hidden;
}

.iImg {
  padding: 20%;
  width: 100%;
  height: 100%;
  object-fit: contain;
  position: absolute;
}

.iBg {
  clip-path: polygon(100% 0%, 100% 51%, 100% 100%, 25% 100%, 0% 50%, 25% 0%);

  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  right: 0;
}

@media screen and (max-width: 480px) {
  .i {
    flex-direction: column;
  }

  .iLeftWrapper {
    padding: 10vh;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
  }
  .iIntro {
    font-size: 10px;
    font-weight: 300;
  }
  .iTitleItem {
    height: 20px;
    font-size: 10px;
    font-weight: bold;
    display: flex;
    align-items: center;
  }
  .iScroll {
    width: 10px;
    height: 10px;
    position: absolute;
    bottom: 5%;
  }
  .iImg {
    padding: 5%;
    width: 100%;
    height: 100%;
    object-fit: contain;
    position: absolute;
  }

  .iName {
    font-size: 30px;
  }
}
